@model IEnumerable<TreeStructureManagement.Models.Node>

@{
    ViewData["Title"] = "Management panel";
}

<h2>Index</h2>

<div class="row">
    <a asp-action="Create">Create New</a>
    <a class="btn btn-secondary" asp-action="LoadDb">Load sample data</a>
    <a class="btn btn-danger" asp-action="ClearDb">Clear database</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parent.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
